@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.space-between {
  justify-content: space-between;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

.error {
  color: red;
}

.success {
  color: green;
}

.form-control {
  margin-top: 1rem;
}

.valid input[type='email'],
.valid input[type='text'],
.valid input[type='number'] {
  border-color: green;
}

.valid .feedback {
  color: green;
}

.invalid input[type='email'],
.invalid input[type='text'],
.invalid input[type='number'] {
  border-color: red;
}

.invalid .feedback {
  color: red;
}